[Unit]
Description=Overlay Driver for OVN Docker.

[Service]
Type=simple
ExecStart=/usr/bin/ovn-docker-overlay-driver

[Install]
WantedBy=multi-user.target